@model List<ToDoList.Model.Folders>

<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse border border-secondary" style="margin-left: -120px; width: 12rem; height:auto;">
        <h5 class="text-center">Folders</h5>
        <ul class="navbar-nav">
        @foreach(var item in Model)
        {
            <li class="nav-item text-center">

                <a class="nav-link text-dark border border-secondary" asp-area="" asp-page="/List/Index" asp-route-folderId="@item.Id">@item.FolderName</a>

            </li>
        }
        </ul>
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4 align-items-center">
                <a asp-page="../Folders/Create" aria-current="true">
                    <i class="bg-success bi-plus-square btn btn-success btn-lg"></i>
                </a>
            </div>
        </div>
    </nav>